name: Deploy Project # Name of the GitHub Actions workflow

on: [push, workflow_dispatch] # Triggers the workflow on push events and manual dispatch
jobs: # Define the jobs to be run in the workflow

  test: # This is a job named "test"

    runs-on: ubuntu-latest # The job will run on the latest Ubuntu runner
    steps: # Steps represent a sequence of tasks to be executed as part of the job
      - name: Get code # This step checks out the repository code
        uses: actions/checkout@v3 # Uses the checkout action to clone the repo

      - name: install NodeJS # This step sets up Node.js environment
        uses: actions/setup-node@v3 # Uses the setup-node action
        with: # Configuration for the setup-node action
          node-version: 18 # Specifies the Node.js version to use

      - name: Install dependencies # This step installs the project dependencies
        run: npm ci # Uses npm ci to install dependencies

      - name: Run tests # This step runs the tests
        run: npm test # Uses npm test to run the tests

# Adding multiple job 

  deploy: # This is a job named "deploy"

    needs: test # This job depends on the successful completion of the "test" job
    runs-on: ubuntu-latest # The job will run on the latest Ubuntu runner
    steps: # Steps represent a sequence of tasks to be executed as part of the job
      - name: Get code # This step checks out the repository code
        uses: actions/checkout@v3 # Uses the checkout action to clone the repo

      - name: install NodeJS # This step sets up Node.js environment
        uses: actions/setup-node@v3 # Uses the setup-node action
        with: # Configuration for the setup-node action
          node-version: 18 # Specifies the Node.js version to use
      
      - name: Install dependencies # This step installs the project dependencies
        run: npm ci # Uses npm ci to install dependencies

      - name: Build application # This step builds the application
        run: npm run build # Uses npm run build to build the application

      - name: Deploy application # This step simulates deployment
        run: echo "Deploying application..." # Placeholder command for deployment